.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  color: rgb(0, 255, 200);
  display: flex;
  background-color: rgb(0, 119, 255);
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.nav-bar span {
  margin-left: 10px;
  font-size: 1.5rem;
}

.nav-bar a {
  border-radius: 3px;
  color: rgb(7, 75, 221);
  background-color: white;
  text-decoration: none;
  margin-right: 1.5rem;
  transition: .2s ease;
  padding: 5px 15px;
}

.nav-bar a.active, .nav-bar a:hover {
  background-color: rgb(61, 81, 255);
  color: white;
}