.detail-box {
    display: flex;
    border: 2px solid blue;
    margin: 1em 500px;
    padding: 10px;
    justify-content: space-between;
}

.user-detail-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}